{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	<!-- meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<!-- title -->
	<title>{% block title %}{% endblock %}{% block head_title %}{% endblock %} | 한양중고장터</title>

	<!-- css -->
	<link rel="stylesheet" href="{% static 'css/core.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	{% block extra_links %}{% endblock %}

	<!-- jquery -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}">
	{% block extra_scripts %}{% endblock %}
	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/toast.js' %}"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">

	{% block header %}{% endblock %}

	<!-- BEGIN content-->
	<div id="content">
	    <div class="wrapper">
		{% if messages %}
		<ul class="notifications">
		    {% for message in messages %}
		    <script type="text/javascript">
			$(document).ready(function(){toast("{{ message }}");});
		    </script>
		    {% endfor %}
		</ul>
		{% endif %}

		{% block content-header %}
		{% endblock %}

		{% block content %}
		{% endblock %}

	    </div>
	</div>
	<!-- END content-->
    </body>
</html>
